*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "Opens Sans", sans-serif;

}
nav{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}
nav>ul{
	list-style-type: none;
}
nav .nav, nav .nav-logo{
	margin: .5rem;
	display: inline;
}
/*intro section*/
#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3 rem;
	text-align: center;
}
#intro h2, #intro p{
	margin-bottom: 1rem;
}
#intro button{
	color: white;
	font-weight: bold;
	background-color: #C2395B;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}
#info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3 rem;
	text-align: center;
}
#info>h2{
	margin-bottom: 1rem;
}
#info>div{
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding: 5px;
	min-height: 150px;
}
#info h3{
	margin-bottom: 1rem;
}
/*ACTIVITY*/

/*PRE-FOOTER SECTION*/

#pre-footer{
	color: white;
	background-color: navy;
}

#pre-footer div{
	
	display: inline-block;
	vertical-align: top;
	margin-left: 1rem;
	padding-top: 20px;
	padding-bottom: 20px;
	min-width: 20%;
}
#pre-footer>div>p{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
} 
#pre-footer h3{
	margin-bottom: 0.6rem;
}

/*FOOTER*/
footer{
	margin-top: 20px;
	margin-bottom: 15px;
	margin-left: 1rem;
}
footer span{
	display: inline-block;
	min-width: 15px;
}
